.add-section{
    padding-top: 15px;
}
.add-section > .row {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    border-top: 2px solid rgb(25, 60, 107);
}

.slots-container{
    padding-top: 15px;
}

.admin-page{
    padding-top: 10px;
}

.slot-data{
    padding:10px;
}

.admin-page > .row{
    padding-right: 20px;
}

.student-header {
    padding-right: 20px;
}

.student-container{
    padding-top: 10px;
}

.header{
    text-decoration: underline;
}